.half-lined span {
  padding-bottom: 10px;
  display: inline-block;
  position: relative; }
  .half-lined span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 4px;
    border-radius: 4px;
    background-color: #2f47a2; }

.transparent-button {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #000000;
  background-color: transparent;
  border-radius: 6px;
  color: #000000;
  text-decoration: none;
  cursor: pointer; }
  .transparent-button:hover {
    text-decoration: none;
    background-color: #2f47a2;
    color: #ffffff; }

.orange-btn {
  background-color: #ee8224;
  color: #ffffff; }

.login-section {
  min-height: auto;
  height: 100vh; }
  .login-section .row .col-5 {
    background-color: #f2efea; }
    .login-section .row .col-5 img {
      width: 200px; }
  .login-section .row .col-7 .login-screen {
    background-color: #f8f8f8;
    border-radius: 20px; }
    .login-section .row .col-7 .login-screen form input:not([type="checkbox"]):not([type="submit"]) {
      display: block;
      width: 100%;
      border: 0;
      outline: 0;
      background-color: #ffffff;
      border-radius: 4px;
      padding: 10px 20px; }
    .login-section .row .col-7 .login-screen form input[type="checkbox"] {
      width: 20px;
      height: 20px; }
    .login-section .row .col-7 .login-screen form input[type="submit"] {
      width: 100%;
      display: block;
      border: 0;
      outline: 0;
      font-weight: bold;
      border-radius: 6px;
      padding: 10px 20px; }
    .login-section .row .col-7 .login-screen form a {
      text-decoration: underline;
      color: #000000; }
